.center {
    width:60%;
    padding-left: 150px;
    text-align: left;
}

.banner {
    width:60%;
    padding-left: 120px;
    text-align: left;


}


#banner h2  {
	 
	padding-top: 90px; 
	padding-left: 220px;
	height: 100px;
    padding-right: 200px;
    line-height: 40px;
    text-align: center; 
	background-color: gray }
#header1 p   {color:green}


#bannerImage img {align: right 
width: 90%;
}
